doctype html
html(lang="en")
    head
        include partials/header
    body.login
        .contenedor-formulario 
            h1 Log In

            if error 
                p.alerta.error= error

            form#form.caja.caja-login(method="POST" action="/log-in")
                .campo
                    label(for="email") E-mail:
                    input(type="email", name="email" id="email" placeholder="someone@something.com" value= email required)
                .campo
                    label(for="password") Password:
                    input(type="password", name="password" id="password" value= password required)
                .campo.enviar
                    input.boton(type="submit" value="Log In")
                .campo 
                    a(href="/create-account") Create Account