doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style 
            include ./email.css     
    body
        h2 Confirm Account
        p
            b Hello!
        p You have to confirm your account.
        hr
        p  Click below and remember the link will be destroyed soon.
        a(href=`${confirmURL}` class="button") Click Me!
        p If you can't access, click 
            a(href=confirmURL) here.
        hr
        p Ignore this message if you didn't request it.